.header-container {
  background: linear-gradient(
    to bottom,
    #2e8b57 0%,
    /* Sea Green */ #3cb371 25%,
    /* Medium Sea Green */ #228b22 50%,
    /* Forest Green */ #006400 75%,
    /* Dark Green */ #556b2f 100% /* Dark Olive Green */
  );
  background-size: 200% 200%;
  color: #ffffff;
  animation: gradientAnimation 18s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header-title {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  margin-right: 1rem;
}

.nav-link {
  color: #cbd5e0;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  background-color: #4a5568;
  color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
}

.flex-space-between {
  justify-content: space-between;
}

.hidden-space-x-8 {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}
